@font-color: #000022;
@menu-color: #1D365D;
@button1-color: #36556E;
@button2-color: #43759E;
@bg-color: #FBF5F3;
@exo-font: 'Exo 2';


.clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    }
.firstBoxMix() {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 25px 5px;
}

.secondBoxMix() {
    float: left;
    box-sizing: border-box;
    width: 66.6%;
    height: 340px;
    padding: 20px 5px;
}

.textMixin() {
    padding: 0px;
    color: @font-color;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -1px;
}

.footerMixin() {
    box-sizing: border-box;
    padding: 1% 18%;
    width: 100%;
}

.button {
            color: #ffffff;
            background: linear-gradient(@button2-color, @button1-color);
            // .gradient(@button2-color, @button1-color)
            border-radius: 6px;
            height: 75px;
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 48px;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: @exo-font;
    background-color: @bg-color;

}

.navigation {
    .clearfix;
    width: 100%;
    height: 85px;
    padding-top: 1%;
    background-color: @menu-color;

    .hipster {
        float: left;
        margin-left: 18%;
    }

    .less-button {
        float: left;
        margin: 0 1% 0 25%;

        .awesome {

            .button;
            border: none;
            padding: 0 15%;
        }
    }
}

.header-pic  img {
    width: 100%;
}

.main-content {
    padding: 0 18%;

    & .sec-1, .sec-2 {
        border-bottom: 1px solid #000022;
    }

        & .sec-1-text {
        .firstBoxMix();
            & .sec-1-p {
                .textMixin();
            }
        }

    & .sec-1-img {
        .firstBoxMix();
            & .iphone-image {
                width: 294px;
                height: 353px;
                margin: 0 20%;
            }

    }

    & .sec-2 {
        & .sec-2-img {
            .secondBoxMix();
            width: 33.3%;

            & .avatar-image {
                width: 280px;
                height: 280px;
                padding: 10px 0px;
            }
        }

        & .sec-2-text {
            .secondBoxMix();
            padding: 20px 10px;
            & .sec-2-p {
            .textMixin();
            padding: 10px 0px;
            }
        }
    }

}

.the-button {
    padding: 2% 18%;

    & .big-button {
        .button();
        width: 50%;
        margin: 0 25%;
    }
}

.footer-warp {

    .footerMixin();

    & img {
        width: 25%;
    }

    & .hackafe {
        float: right;
    }
}

.hipster img {
    max-width: none;
}

.no-responsive {
    max-width: none;
}

#dont-use {
    max-width: none;
}