@font-color: #000022;
@menu-color: #1D365D;
@button1-color: #36556E;
@button2-color: #43759E;
@bg-color: #FBF5F3;
@exo-font: 'Exo 2', sans-serif;






body {
	max-width: 1280px;
	width: 100%;
    font-family: @exo-font;
}